{% extends 'base.html.twig' %}

{% block title %}Nombre de Réservations{% endblock %}


{% block body %}
<h1  >Nombre de Réservation Vice_City</h1>
<p style="font-size:24px;">Le nombre de réservation en cours est : {{countReservation }}</p>
{% endblock %}

