<div class="card text-bg-dark">
    <img src="img/gabriel ghnassia.png" class="card-img" alt="image de welcome">
    <div class="card-img-overlay">
        <div class="container">
            <h5 class="card-titleo">WELCOME TO</h5>
            <h3 class="card-title1">VICE CITY </h3>
            <h5 class="card-title2">HOTEL</h5>
        </div>
        <p class="card-text1">Book your stay and enjoy Luxury redefined at the most affordable rates.</p>
    </div>
    
    
</div>


