<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="img/chambre.png" class="d-block w-100" alt="...">
        <h2 class="titr">Luxury room</h2>
        <p class="para">Nos chambres sont conçues pour transporter vous dans un environnement fait pour les loisirs. Ne pensez plus au quotidien à la maison vie et trouvez un paradis privé pour vous-même</p>
    </div>
    <div class="carousel-item">
      <img src="img/chambre1.png" class="d-block w-100" alt="...">
       <h2 class="titr">Luxury room</h2>
        <p class="para">Nos chambres sont conçues pour transporter vous dans un environnement fait pour les loisirs. Ne pensez plus au quotidien à la maison vie et trouvez un paradis privé pour vous-même</p>
    </div>
    <div class="carousel-item">
      <img src="img/chambre1.png" class="d-block w-100" alt="...">
        <h2 class="titr">Luxury room</h2>
        <p class="para">Nos chambres sont conçues pour transporter vous dans un environnement fait pour les loisirs. Ne pensez plus au quotidien à la maison vie et trouvez un paradis privé pour vous-même</p>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  <p class="poi">Tous nos types de chambres incluent le petit-déjeuner complémentaire</p>
  
  <div class="azer">
    <button class="btna"><a id="clsa" href="/vister/lhotel">EXPLORE</a></button>
  </div>
</div>