<div class="card text-center bg-dark" data-bs-theme="dark"">
    <div class="card-header">
      © 2023 Vice city Hôtel. Tous droits réservés.
    </div>
    <div class="card-body">
      <h5 class="card-title">Vice City Hôtel</h5>
      <p class="card-text">Notre hôtel combine élégance intemporelle, commodités modernes et un service exceptionnel pour créer une atmosphère accueillante et apaisante.</p>
      <a href="/vister/lhotel" class="btn btn-primary">Visiter l'hôtel</a>
    </div>
    <div class="card-footer text-body-secondary">
      2 days ago
    </div>
  </div>
