{% extends 'base.html.twig' %}

{% block title %}

  
{% endblock %}


{% block stylesheets %}
    <link rel="stylesheet" href={{ asset('/assetscss/junior.css') }}>
{% endblock %}



{% block body %}
   <H1>NOS CHAMBRES DELUXE</H1>
   

   <div class="photo">
    <img src="\img\suiteJunior1.jpg" alt="photo 1" style="width: 700px; height: auto;">
    <h1>SUITE JUNIOR RAFFINEMENT CONTEMPORAIN</h1>
    <ul class="options">
        <li>Superficie: 30 m²</li>
        <li>Tarif: $200/nuit</li>
        <li>Type de chambre: Chambre Double Supérieure</li>
       
        <li>
            <select>
                <option value="vue-mer">Caracteristiques</option>
                <option value="vue-mer">Vue sur mer</option>
                <option value="chaines-carte">Chaînes à la carte</option>
                <option value="climatisation">Climatisation</option>
                <option value="tv-ecran-plat">Télévision à écran plat</option>
                <option value="telephone">Téléphone</option>
                <option value="chaines-satellite">Chaînes satellite</option>
                <option value="chaines-cable">Chaînes du câble</option>
                <option value="coffre-fort">Coffre-fort</option>
                <option value="materiel-repassage">Matériel de repassage</option>
                <option value="wifi-gratuit">Wi-Fi Gratuit</option>
            </select>
        </li>
    </ul>
    <button>Réserver</button>
</div>

<div class="photo">
    <img src="\img\suiteJunior2.jpg" alt="photo 1" style="width: 700px; height: auto;" >
    <h1>CHAMBRE JUNIOR AMBIANCE COSY</h1>
    <ul class="options">
        <li>Superficie: 30 m²</li>
        <li>Tarif: $200/nuit</li>
        <li>Type de chambre: Chambre Double Supérieure</li>
        <li>Liste d'options:</li>
        <li>
            <select>
                <option value="vue-mer">Vue sur mer</option>
                <option value="chaines-carte">Chaînes à la carte</option>
                <option value="climatisation">Climatisation</option>
                <option value="tv-ecran-plat">Télévision à écran plat</option>
                <option value="telephone">Téléphone</option>
                <option value="chaines-satellite">Chaînes satellite</option>
                <option value="chaines-cable">Chaînes du câble</option>
                <option value="coffre-fort">Coffre-fort</option>
                <option value="materiel-repassage">Matériel de repassage</option>
                <option value="wifi-gratuit">Wi-Fi Gratuit</option>
            </select>
        </li>
    </ul>
    <button>Réserver</button>
</div>
<div class="photo">

    <img src="\img\suiteJunior3.JPEG" alt="photo 1" style="width: 700px; height: auto;">>
    <h1>CHAMBRE JUNIOR CONFORT EPURE</h1>
    <ul class="options">
        <li>Superficie: 30 m²</li>
        <li>Tarif: $200/nuit</li>
        <li>Type de chambre: Chambre Double Supérieure</li>
        <li>Liste d'options:</li>
        <li>
            <select>
                <option value="vue-mer">Vue sur mer</option>
                <option value="chaines-carte">Chaînes à la carte</option>
                <option value="climatisation">Climatisation</option>
                <option value="tv-ecran-plat">Télévision à écran plat</option>
                <option value="telephone">Téléphone</option>
                <option value="chaines-satellite">Chaînes satellite</option>
                <option value="chaines-cable">Chaînes du câble</option>
                <option value="coffre-fort">Coffre-fort</option>
                <option value="materiel-repassage">Matériel de repassage</option>
                <option value="wifi-gratuit">Wi-Fi Gratuit</option>
            </select>
        </li>
    </ul>
    <button>Réserver</button>
</div>

{% endblock %}
