{% extends 'base.html.twig' %}


{% block title %}

  
{% endblock %}


{% block body %}

  <link rel="stylesheet" href={{ asset('/assets/css/superieur.css') }}>

   <h1>CHAMBRE DOUBLE SUPERIEURE</h1>
   
   
   
   
   <div class="photo">
    <img src="\img\superieur 1.jpg" alt="photo 1" style="width: 700px; height: auto;">
    <h2>CHAMBRE DOUBLE SUPERIEURE HARMONIE RELAXANTE</h2>
    <ul class="options">
        <li>Superficie: 30 m²</li>
        <li>Tarif: $200/nuit</li>
        <li>Type de chambre: Chambre Double Supérieure</li>
        <li>Liste d'options:</li>
        <li>
            <select>
                <option value="vue-mer">Vue sur mer</option>
                <option value="chaines-carte">Chaînes à la carte</option>
                <option value="climatisation">Climatisation</option>
                <option value="tv-ecran-plat">Télévision à écran plat</option>
                <option value="telephone">Téléphone</option>
                <option value="chaines-satellite">Chaînes satellite</option>
                <option value="chaines-cable">Chaînes du câble</option>
                <option value="coffre-fort">Coffre-fort</option>
                <option value="materiel-repassage">Matériel de repassage</option>
                <option value="wifi-gratuit">Wi-Fi Gratuit</option>
            </select>
        </li>
    </ul>
    <button>Réserver</button>
</div>

<div class="photo">
    <img src="\img\superieur 2.webp" alt="photo 1"style="width: 700px; height: auto;">
    <h2>SUITE DOUBLE SUPERIEURE LUXE URBAIN</h2>
    <ul class="options">
        <li>Superficie: 30 m²</li>
        <li>Tarif: $200/nuit</li>
        <li>Type de chambre: Chambre Double Supérieure</li>
        <li>Liste d'options:</li>
        <li>
            <select>
                <option value="vue-mer">Vue sur mer</option>
                <option value="chaines-carte">Chaînes à la carte</option>
                <option value="climatisation">Climatisation</option>
                <option value="tv-ecran-plat">Télévision à écran plat</option>
                <option value="telephone">Téléphone</option>
                <option value="chaines-satellite">Chaînes satellite</option>
                <option value="chaines-cable">Chaînes du câble</option>
                <option value="coffre-fort">Coffre-fort</option>
                <option value="materiel-repassage">Matériel de repassage</option>
                <option value="wifi-gratuit">Wi-Fi Gratuit</option>
            </select>
        </li>
    </ul>
    <button>Réserver</button>
</div>
<div class="photo">
    <img src="\img\superieur 3.jpeg" alt="photo 1" style="width: 700px; height: auto;">
    <h2>CHAMBRE DOUBLE SUPERIEURE ELEGANCE CHIC</h2>
    <ul class="options">
        <li>Superficie: 30 m²</li>
        <li>Tarif: $200/nuit</li>
        <li>Type de chambre: Chambre Double Supérieure</li>
        <li>Liste d'options:</li>
        <li>
            <select>
                <option value="vue-mer">Vue sur mer</option>
                <option value="chaines-carte">Chaînes à la carte</option>
                <option value="climatisation">Climatisation</option>
                <option value="tv-ecran-plat">Télévision à écran plat</option>
                <option value="telephone">Téléphone</option>
                <option value="chaines-satellite">Chaînes satellite</option>
                <option value="chaines-cable">Chaînes du câble</option>
                <option value="coffre-fort">Coffre-fort</option>
                <option value="materiel-repassage">Matériel de repassage</option>
                <option value="wifi-gratuit">Wi-Fi Gratuit</option>
            </select>
        </li>
    </ul>
    <button>Réserver</button>
</div>

{% endblock %}
