{% extends 'base.html.twig' %}

{% block title %}
    Titre de la Page
{% endblock %}

{% block body %}
   
   <div class="photo">
    <img src="./img/deluxe 1.jpg" alt="photo 1">
    <h1>CHAMBRE DE LUXE REVE D EVASION</h1>
    <ul class="options">
        <li>Superficie: 30 m²</li>
        <li>Tarif: $200/nuit</li>
        <li>Type de chambre: Chambre Double Supérieure</li>
        <li>Liste d'options:</li>
        <li>
            <select>
                <option value="vue-mer">Vue sur mer</option>
                <option value="chaines-carte">Chaînes à la carte</option>
                <option value="climatisation">Climatisation</option>
                <option value="tv-ecran-plat">Télévision à écran plat</option>
                <option value="telephone">Téléphone</option>
                <option value="chaines-satellite">Chaînes satellite</option>
                <option value="chaines-cable">Chaînes du câble</option>
                <option value="coffre-fort">Coffre-fort</option>
                <option value="materiel-repassage">Matériel de repassage</option>
                <option value="wifi-gratuit">Wi-Fi Gratuit</option>
            </select>
        </li>
    </ul>
    <button>Réserver</button>
</div>

<div class="photo">
    <img src="./img/deluxe 2.jpg" alt="photo 1">
    <h1>CHAMBRE DE LUXE REVE D EVASION</h1>
    <ul class="options">
        <li>Superficie: 30 m²</li>
        <li>Tarif: $200/nuit</li>
        <li>Type de chambre: Chambre Double Supérieure</li>
        <li>Liste d'options:</li>
        <li>
            <select>
                <option value="vue-mer">Vue sur mer</option>
                <option value="chaines-carte">Chaînes à la carte</option>
                <option value="climatisation">Climatisation</option>
                <option value="tv-ecran-plat">Télévision à écran plat</option>
                <option value="telephone">Téléphone</option>
                <option value="chaines-satellite">Chaînes satellite</option>
                <option value="chaines-cable">Chaînes du câble</option>
                <option value="coffre-fort">Coffre-fort</option>
                <option value="materiel-repassage">Matériel de repassage</option>
                <option value="wifi-gratuit">Wi-Fi Gratuit</option>
            </select>
        </li>
    </ul>
    <button>Réserver</button>
</div>
<div class="photo">
    <img src="./img/deluxe 3.jpg" alt="photo 1">
    <h1>CHAMBRE DE LUXE REVE D EVASION</h1>
    <ul class="options">
        <li>Superficie: 30 m²</li>
        <li>Tarif: $200/nuit</li>
        <li>Type de chambre: Chambre Double Supérieure</li>
        <li>Liste d'options:</li>
        <li>
            <select>
                <option value="vue-mer">Vue sur mer</option>
                <option value="chaines-carte">Chaînes à la carte</option>
                <option value="climatisation">Climatisation</option>
                <option value="tv-ecran-plat">Télévision à écran plat</option>
                <option value="telephone">Téléphone</option>
                <option value="chaines-satellite">Chaînes satellite</option>
                <option value="chaines-cable">Chaînes du câble</option>
                <option value="coffre-fort">Coffre-fort</option>
                <option value="materiel-repassage">Matériel de repassage</option>
                <option value="wifi-gratuit">Wi-Fi Gratuit</option>
            </select>
        </li>
    </ul>
    <button>Réserver</button>
</div>

{% endblock %}