{% extends 'base.html.twig' %}

{% block title %}Modifier votre profil{% endblock %}


{% block stylesheets %}
<link rel="stylesheet" href="/assets/css/modifierProfil.css">
{% endblock %}


{% block body %}

<div class="container-principal">

    <div class="container">

        <div class="en-tete">
            <h1 id="titreProfil">Modifier votre profil</h1>
        </div>


        {{ include('user/_form.html.twig', {'button_label': 'Enregistrer les modifications'}) }}


        <div class="actions">
            <a href="{{ path('app_user_index') }}" class="back-button">Retour</a>
        </div>

    </div>

</div>

{% endblock %}